{% extends "base.html.twig" %}

{% block body %}
	{% if app.user %}
		<h1>Bienvenue !
			{{app.user.email}}
		</h1>
		{# <img src="{{ asset('build/path_to_image.png') }}" alt=""/> #}
	{% endif %}

{% endblock %}
